/*Importamos desde Google Fonts las fuentes que vamos a usar*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
font-family: 'Jost', sans-serif;
font-family: 'Playfair Display', serif;
*/

/*---------------------------*/
/*     Estilos generales       */
/*---------------------------*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
div {
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    color: #0A0A0A;
    font-size: 18px;
}

/*---------------------------*/
/*--- BARRA SUPERIOR que contiene HEADER y NAVBAR ---*/
/*---------------------------*/
#contenedor-barra-cabecera {
    position: fixed;
    width: 100%; 
    background-color: #fafafa;
    box-shadow: 0 4px 5px #0000005b; 
    height: 100px;
}

#barra-cabecera {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    padding: 20px 4vw;
}
    /*-- Header --*/
    #contenedor-logo-home {
        position: relative;
        float: left;
        width: 25%;
        min-width: 350px;
    }

    #enlace-home {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 7px;
    }
    #enlace-home:hover,
        #enlace-home:focus {
        background-color: #52454529; ;
    }
    #enlace-home:focus {
        outline: 2px solid #524545;
    }
    #logo-home {
        width: 100px;
        height: 100%;
        float: left;
    }
    #nombre-web {
        font-size: 30px;
        margin-left: 120px;
        margin-top: 6px;
        font-family: 'Playfair Display', serif;
        font-weight: normal;
        color: #524545;
    }


    /*-- Navbar --*/
    nav {
        text-align: right;
        width: 100%;
        margin-top: 6px;
    }
    ul.nav-desplegable {
        list-style: none;
        display: inline-block;
        position: relative;
    }

    ul.nav-desplegable > li > a{
        color: #524545;
        font-family: 'Playfair Display', serif;
        font-size: 30px;
        padding: 2px 15px;
        border-radius: 7px;
    }

    ul.nav-desplegable > li > a:hover,
        ul.nav-desplegable > li > a:focus {
        background-color: #52454529;
    }

    ul.nav-desplegable > li > a:focus {
        background-color: #52454529;
        outline: 2px solid;
    }

    ul.lista-nav {
        visibility: hidden;
        position: absolute;
        top: 74px;
        right: 0;
        list-style: none;
        background-color: #fafafa;
        width: 100%;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        width: 250px;
        text-align: right;
        border: 2px solid #524545;
        border-top: 0;
        border-radius: 0 0 7px 7px;
    }

        ul.nav-desplegable li:focus-within .lista-nav,
        ul.nav-desplegable li .lista-nav:hover {
        visibility: visible;
        opacity: 1;
    }

    ul.lista-nav li a{
        display: block;
        font-family: 'Playfair Display', serif;
        color: #458021;
        text-decoration: none;
        font-size: 20px;
        margin: 5px 10px;
        padding: 5px 15px;
        border-radius: 10px;
        cursor: pointer;
    }   
    ul.lista-nav li a:focus{
        outline: none;
    }


    ul.lista-nav li a:hover:not(.actual),
    ul.lista-nav li a:focus:not(.actual) {
        color: #458021;
        background-color: #45802129;
    }

    ul.lista-nav li a:focus{
        outline: 2px solid;
    }

    ul.lista-nav li a.actual {
        color: #458021;
        font-weight: bold;
        border: 2px solid;
        cursor: auto;
    } 



#div-vacio-header {
    height: 100px;
}




/*Header que contiene imagenes
 - Utilizamos las propiedades object-fit y object-position
   como equivalentes a background-size y background-position
   ya que en este caso añadimos las imagenes en línea
   
  Personalizamos individualmente la posición de cada imagen
  en función de seccion de la web donde estemos
*/
.header-img {
    height: 200px;
}
.header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img-header-home {
    object-position: center 40%;
}

/*--- CONTENEDORES GENERALES ---*/

/*Estilo al contenedor ppal*/
.contenedor-ppal {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 4vw;
}

/*---- ESTILOS ESPECÍFICOS HOME ---*/

/*División en columnas en la home */
.dos-columnas {
    display: flex;
    flex-wrap: wrap;
}

.col-1,
.col-2 {
    flex-basis: 0;
}

.col-1 {
    flex-grow: 2;
    margin-right: 20px;
}
.col-2 {
    margin-left: 20px;
    flex-grow: 0;
}

/*Contenedor novedades home*/
.caja-novedades {
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 2px #00000026;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0 25px;
}
.img-novedad {
    flex-grow: 1;
    flex-shrink: 0;
    width: 175px;
    height: 175px;
}
.img-novedad img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.contenido-novedad {
    flex-grow: 1;
    padding: 15px 20px;
}

/*Contenedor publicidad*/
.contenedor-publicidad {
    width: 200px;
    height: 100%;
    border: 2px solid #524545;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}
.contenedor-publicidad img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*---- FIN ESTILOS ESPECIFICIOS HOME ---*/

/*--- ESTILOS PÁGINA SERVICIOS ---*/

/*Estilos tres columnas*/
.tres-columnas-servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
  }
  .contenedor-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 20px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(0.3, 0.3, 0.3, 0.3);
    padding: 30px;
  }
  .contenedor-vertical li {
    list-style-position: inside;
  }
  .img-div-vert{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding-top: 0%;
  }
  
  /*Estilos imagenes*/
  
  .img-servicios {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  #img-servicios1{
    object-position: bottom;
  }

  #img-servicios2{
    object-position: center;
  }

  #img-servicios3{
    object-position: center;
  }
  .servicios{
    padding-top: 120px;
  }
  
  .titulos-servicios-columnas{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
/*--- FIN ESTILOS PAGINA SERVICIOS ---*/


/*--- ESTILOS PAGINA SERVICIOS ---*/

    /*-- Estilos para las imagenes   --*/
    .contenedor-img {
        overflow: hidden;
        height: 400px;
        margin: 20px 0;
        border-radius: 15px;
        width: 100%;
    }
    .contenedor-img img {
        width: 100%;
        height:100%;
        object-fit: cover;
        object-position: center 40%;
    }

    /*Seccion Conoce nuestro equipo*/
    .contenedor-nuestro-equipo{
        display: flex;
        margin: 0;
        overflow: hidden;
        width: 100%;
        margin: 20px 0;
        flex-wrap: nowrap;
    }
    .col-equipo {
        margin: 20px 10px;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 10px 2px #00000026;
        overflow: hidden;
        border-radius: 15px;
    }
    .imagen-equipo{
        width: 100%;
        height: 360px;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
    }
    .imagen-equipo img {
        object-fit: cover;
        width: 100%;
        height:100%;
    }
    .contenido-equipo{
        text-align:center;
        padding:5px;
    }

/*--- FIN ESTILOS PAGINA SERVICIOS ---*/

/*--- ESTILOS FORMULARIO DE CONTACTO ---*/
.titulo-4 {
    font-family: 'Playfair Display', serif;
    font-size: 33px;
    color: #524545;
    margin-bottom: 15px;
    font-weight: 400;
}
.caja-form {
    font-size: inherit;
    word-spacing: 8px;
    box-shadow: 0 0 10px 5px #00000026;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4f4f2ea;
    width: 100%;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 3%;
}
.campo-formulario {
    display: block;
    margin: 15px 0;
}
.nombre-formulario {
    display: inline-block;
}
.apellidos-formulario {
    float: right;
}
#direccion,
 #consulta {
    width: 100%;
}
#consulta {
    min-height: 80px;
    resize: vertical;
}
.text_size{
   font-size: inherit;
}
.drcha {
    float: right;
}
.clear  {
    clear: both;
}
.caja-form input,
 .caja-form textarea {
    padding: 5px 10px;
}


/*--- FIN ESTILOS FORMULARIO DE CONTACTO ---*/




/* ------ Titulos ------*/
.titulo-1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: #524545;
    margin-bottom: 15px;
    font-weight: 400;

}
.titulo-2 {
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    color: #524545;
    font-weight: normal;
    margin: 20px 0 30px;
    padding: 10px 0;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
    text-align: center;
}

.titulo-3 {
    font-size: 22px;
    color: #9FA827;
    margin-bottom: 5px;
}


/*-- Fin titulos --*/

/*---- Estilo parafos ---*/
.subtitulo {
    font-size: 25px;
    margin-bottom: 50px;
}

/*--- Estilos <span> en linea --- */
.resaltado-texto {
    font-weight: bold;
    color: #9FA827;
    margin-bottom: 15px;
}

/*-- Fin estilos <span> en linea --*/

/*-- Enlaces --*/
a.ampliar-novedad {
    color: #458021;
    padding: 2px 0;
    border-radius: 5px;
    display: inline-block;
    margin: 5px 0;
}
a.ampliar-novedad:hover {
    background-color: #45802129;
}
a.ampliar-novedad:focus {
    outline: 2px solid;
}

/*-- Botones --*/
.contenedor-vertical button,
.boton-form {
 background-color: #ffffff; 
 color: rgb(158, 167, 39);
 padding: 8px 16px;
 border: 1px solid rgb(158,167,39); 
 border-radius: 4px; 
 cursor: pointer;
 font-size: inherit;
}
.contenedor-vertical button:hover,
 .boton-form:hover {
    background-color: #d3d798;
}

/*-- TABLAS --*/
.tabla-centrada {
    margin: 0 auto;
}
.tabla-centrada td{
    padding: 2px 5px;
}

/* -- Fin estilos tablas --*/

/*------ FOOTER ----*/

footer {
    background-color: #524545;
    color: #fafafa;
}

.footer-three-col {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px 4vh;
    margin-top: 35px;
}

.footer-col-1, .footer-col-2, .footer-col-3 {
    flex-basis: 0;
}
.footer-col-1 {
    flex-grow: 3;
}
.footer-col-2 {
    flex-grow: 2;
}
.footer-col-3 {
    flex-grow: 0;
}

.contenedor-footer {
    margin:0 10px;
}

.tit-cont-footer {
    font-weight: bold;
    text-align: center;
    border: 1px solid;
    padding: 5px 0;
    margin-bottom: 15px;
    border-radius: 7px;
}


.fila-col-footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.fila-col-footer:nth-child(n):not(:last-child) {
    margin-bottom: 15px;
}
.fila-col-footer:nth-last-child() {
    margin-bottom: 15px;
}
.fila-col-footer .p-con-icono{
    margin-left: 15px;
}


/*---- Media Queries ---*/

/*-- 
    Para TABLETS VERTICAL. Establecemos 870px por la medida a partir de la
     que más sufría el diseño. 
--*/
@media screen and (max-width: 870px) and (orientation:portrait) {

    /*-- Imagenes de novedades Home a 100% --*/
    .caja-novedades {
        flex-wrap: wrap;
    }

    /*-- Cambiamos disposicion columnas en pag SERVICIOS --*/
    .tres-columnas-servicios {
        flex-wrap: wrap;
    }
    .contenedor-vertical {
        width: 100%;
        margin: 20px 0;
    }
    .titulos-servicios-columnas {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .servicios {
        padding-top: 60px;
    }

    /*-- Pasamos al 100% la triple columna del footer --*/

    .footer-three-col {
        display: block;
    }

    .contenedor-footer {
        margin-bottom: 20px;
    }

}

/*-- 
    Para TABLETS HORIZONTAL. 
--*/

@media screen and (max-height: 870px) and (orientation:landscape) {
    
    /* Pequeños ajustes de tamaño de texto */
    .titulo-1 {
        font-size: 40px;
    }

    .titulo-2 {
        font-size: 25px;
    }
    
    /* Reducción tamaño imagen header */
    .header-img {
        height: 150px;
    }
}



/*-- 
    Para móviles en vertical. Establecemos 580px por la medida a partir de la
     que más sufría el diseño. 
--*/
@media screen and (max-width: 580px) and (orientation:portrait) {

    /*-- Adaptamos tamaño de fuentes --*/
    body {
        font-size: 16px;
    }
    .titulo-1 {
        font-size: 30px;
    }
    .subtitulo {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .titulo-2 {
        font-size: 25px;
    }
    .titulo-3 {
        font-size: 18px;
    }
    
    /*-- Redimensión header --*/
    #div-vacio-header {
        height: 70px;
    }
    #contenedor-barra-cabecera {
        height: 70px;
    }
    #logo-home {
        width: 60px;
    }
    #contenedor-logo-home {
        min-width: 0;
    }
    #nombre-web {
        display: none;
    }
    nav {
        margin-top: 0px;
    }
    ul.nav-desplegable > li > a {
        font-size: 20px;
    }
    ul.lista-nav {
        top: 50px;
    }
    ul.lista-nav li a {
        font-size: 16px;
    }

    /*-- Reducimos el alto de la img de cabecera --*/
    .header-img {
        height: 100px;
    }

    /*-- 
        Pasamos a ancho completo la doble columna de la home. 
         El contenido de cada columna pasa a estar al 100%
    --*/
    .dos-columnas {
        display: block;
    }
    .col-1, .col-2 {
        margin: 0;
    }
    .caja-novedades {
        display: flex;
        flex-wrap: wrap;
    }

    /*--
        Ocultamos la parte aside.
    --*/
    aside {
        display: none;
    }

    /*-- Cambiamos disposicion img en pag quienes somos --*/
    .contenedor-nuestro-equipo{
        display: block;
    }


    /*-- Cambiamos disposicion columnas en pag SERVICIOS --*/
    .tres-columnas-servicios {
        flex-wrap: wrap;
    }
    .contenedor-vertical {
        width: 100%;
        margin: 20px 0;
    }
    .titulos-servicios-columnas {
        margin-top: 20px;
        margin-bottom: 20px;
    }


    /*-- Ajustes fomulario --*/
    .apellidos-formulario,
     .drcha {
        float: none;
    }


    /*-- Pasamos al 100% la triple columna del footer --*/

    .footer-three-col {
        display: block;
    }

    .contenedor-footer {
        margin-bottom: 20px;
    }
}

/*-- 
    Para móviles en horizontal. Establecemos 450px como altura máxima
--*/
@media screen and (max-height: 450px) and (orientation:landscape) {


    /*-- Adaptamos tamaño de fuentes --*/
    body {
        font-size: 16px;
    }
    .titulo-1 {
        font-size: 30px;
    }
    .subtitulo {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .titulo-2 {
        font-size: 25px;
    }
    .titulo-3 {
        font-size: 18px;
    }

    /*-- Redimensión header --*/
    
    #div-vacio-header {
        height: 70px;
    }
    #contenedor-barra-cabecera {
        height: 70px;
    }
    #logo-home {
        width: 60px;
    }
    #nombre-web {
        font-size: 25px;
        margin-left: 70px;
        margin-top: 0;
    }
    nav {
        margin-top: 0px;
    }
    ul.nav-desplegable > li > a {
        font-size: 20px;
    }
    ul.lista-nav {
        top: 50px;
    }
    ul.lista-nav li a {
        font-size: 16px;
    }
    

    /*-- Ocultamos la imagen del header --*/
    .header-img {
        display: none;
    }

    /*-- Ocultamos publicidad --*/
    aside {
        display: none;
    }

    /*-- Cambiamos disposicion columnas en pag SERVICIOS --*/
    .tres-columnas-servicios {
        flex-wrap: wrap;
    }
    .contenedor-vertical {
        width: 100%;
        margin: 20px 0;
    }
    .titulos-servicios-columnas {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .servicios {
        padding-top: 60px;
    }

    /*-- Ajustes fomulario --*/
    .apellidos-formulario,
    .drcha {
        float: none;
    }
}
